<div class="p-grid">
  <div class="p-col-12 p-md-3 p-lg-2 card" *ngFor="let character of characters">
    <p-card
      [header]="
        character.name
          ? character.name.length > 13
            ? character.name.slice(0, 13) + '...'
            : character.name
          : '-'
      "
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img alt="Card" [src]="character.image" />
      </ng-template>

      <ng-template pTemplate="subheader">
        <p-tag
          styleClass="p-mt-2"
          [value]="character.status ? character.status : ''"
          [severity]="
            character.status === 'Alive'
              ? 'success'
              : character.status === 'Dead'
              ? 'danger'
              : character.status === 'unknown'
              ? 'warning'
              : ''
          "
        ></p-tag>
        <p-tag
          styleClass="p-ml-2"
          [value]="character.species!"
          severity="warning"
        ></p-tag>
      </ng-template>
      <p>
        <i class="pi pi-map-marker"></i>
        {{ character.location ? character.location.name : "" }}
      </p>
      <ng-template pTemplate="footer">
        <button
          pButton
          icon="pi pi-eye"
          label="Detalles"
          class="p-button-sm"
          [routerLink]="['/home/character', character.id]"
        ></button>
      </ng-template>
    </p-card>
  </div>

  <div class="row prev" *ngIf="result?.info?.prev" (click)="prev()">
    <i class="pi pi-arrow-left"></i>
  </div>
  <div class="row next" *ngIf="result?.info?.next" (click)="next()">
    <i class="pi pi-arrow-right"></i>
  </div>
</div>
