* {
  margin: 0;
  padding: 0;
  /* font-family: benton-sans, 'Helvetica Neue', helvetica, arial, sans-serif; */
  /* font-family: "Lucida Console", Courier, monospace; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 13px; */
}

* button:focus,
li:focus,
div:focus {
  outline: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*a {
  text-decoration: none;
}

.dark-panel.p-panel {
  .p-panel-titlebar {
    background: #212121;
  }
}

.p-card-title:hover {
  color: orange;
}

.overlay {
  position: fixed;
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgba(74, 74, 74, 0.8);
  z-index: 2000 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
